@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #003574;
  color: var(--foreground-rgb);
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-login {
  background-image: url("/bg.png");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
